*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

body{
    background-color: rgb(19, 19, 19);
}

h1{
    color: white;
    font-size: 5rem;
    text-align: center;
}